.shop-category-section {
  padding: 50px 80px;
  text-align: center;
  background-color: #fafafa;
}

.shop-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 25px;
}

.category-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 40px;
}

.category-btn {
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.category-btn:hover {
  background-color: #222;
  color: white;
}

.category-btn.active {
  background-color: #000;
  color: #fff;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  justify-items: center;
}

.product-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 15px;
  width: 200px;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.no-results {
  margin-top: 20px;
  color: #777;
  font-size: 16px;
}
